body{


}
h1 {
    color: #b45454;
    text-align: center;
}
p { 
    color: #351414;
    line-height: 1.5;
}
#dough {
    width: 100vw;
    height: auto;
    display: block;
}

.item {
    width: 120px;
    position: absolute;
    cursor: pointer;
}

.locked {
    pointer-events: none;
    opacity: 0.4;
}